@model IEnumerable<WebHabr.Models.Article>

@{
    ViewData["Title"] = "Все статьи";
}

<h2>Все статьи</h2>

@foreach (var article in Model)
{
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.Content.Substring(0, 150) + "..."</p>
                <a class="btn btn-primary" asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">Читать далее</a>
            </div>
        </div>
}
